body{
    background-color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: blue;
}
P{
    color: black;
{

}
    ;

#elephants{ 


    
}
#elephants p{


}
#lions{
    text-decoration-style: wavy;
}
#elephants{
    <div class=
<div color: float: ;;